body {
    background-color: black;
    color: white;
    font-family: "Eater", serif;
    font-weight: 400;
}

.head {
    font-family:"Eater", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    color: white;
}

div h1, div span {
    text-align: center;
    font-size: 16px;
}

.imgs {
    display: flex;
    width: 60%;
    max-width:600px;
    margin: 0 auto;
}

.imgs img {
    width: 30%;
}

.compare {
    display: flex;
    width: 40%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.compare-words {
    text-align: center;
    font-size: 14px;
}


.compare div{
    flex: 1;
    display: flex;
    width: 45%;
    aspect-ratio: 1/1;/*make the compare squere */
    border: 1px dotted white;
}

.compare div img {
    max-width: 100%;
}

.result {
    text-align: center;
}

.result span{
    font-size: 18px;
}

#player-score, #computer-socre {
    display: inline-block;
    min-width: 50px;
}

.finalResult {
    display: flex;
    width: 80%;
    max-width:800px;
    margin: 0 auto;
    margin-top: 20px;
}

.win, .loose {
    display: flex;
    width: 50%;
}

.win img, .loose img {
    width: 70%;
}

.win p, .loose p {
    font-size: 0.6em;
}

.win, .loose {
    visibility: hidden;
}

.reset {
    text-align: center;
}

#reset-button {
    display: none;
}

.reset button {
    padding: 5px 10px;
}

